#portfolioCointainer {
	width: 100%;
	padding-top: 10px;
}

#portfolio, #administration {
	width: 70%;
	margin: auto;
	text-align: left;
}

div.ui.inverted.menu {
	border-radius: 0px;
}

#administration {
	margin-top: 10px;
}

.editor {
	padding: 20px;
	text-align: center !important;
	width: 400px !important;
	left: 50% !important;
	margin-left: -200px !important;
}

.fullwidth {
	width: 100%;
	text-align: right;
}

.editordiv {
	margin: 5px;
	width: 100%;
}

.leftaligned {
	text-align: left;
}

i:hover {
	cursor: pointer;
}